:root {
  --hover-color: #e1c5b1;
  --more: #d4722c;
  --tryfree: #0f27ff;
  --background-color: #f9f9f9;
  --links-color: #000000;
  --purple-color: #e0adff;

}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body {
  margin: 0;
  padding: 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  gap: 20px;
  border-bottom: 2px solid rgb(225, 225, 225);
}


.logo {
  width: 60px;
  height: 60px;
  margin: 0px;
  margin-right: 15px;
  margin-left: 0px;
  float: left;
  cursor: pointer;

}

.primary-navs,
.secondary-navs {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
  font-family: "Futura PT", "Futura", "Trebuchet MS", Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.primary-navs a,
.secondary-navs a {
  color: var(--links-color);
  transition: color 0.3s ease;
  text-decoration: none;
}

.primary-navs a:hover,
.secondary-navs a:hover {
  color: var(--hover-color);
}


.primary-navs {
  margin-right: auto
}

.secondary-navs {
  margin-left: auto;

}


.primary-navs a.try-free,
.secondary-navs a.try-free {
  color: var(--tryfree);
  font-size: 14px;
  font-weight: normal;
}

.primary-navs a.try-free :hover,
.secondary-navs a.try-free :hover {
  color: var(--hover-color);
  transition: color 0.3s ease;
}



.primary-navs a.more,
.secondary-navs a.more {
  color: var(--more);
  font-size: 16px;
}

.abelton-image {
  position: relative;
  height: 100%;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 70px;
}

.abelton-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.abelton-image h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: rgba(255, 68, 68, 0.913);
  font-size: 110px;
  font-family: "Futura PT", "Futura", "Trebuchet MS", Arial, sans-serif;
}


.first-text-section {
  max-width: 700px;
  margin: 100px auto;
  text-align: center;
  padding: 0 20px;
}

.main-text {
  font-size: 27px;
  font-weight: bold;
  line-height: 1.6;
  text-align: justify;
  font-family: "Futura PT", "Futura", "Trebuchet MS", Arial, sans-serif;
}


.main-text a {
  color: blue;
  font-weight: bold;
  text-decoration: none;
}

.sub-text {
  text-align: justify;
  font-size: 16px;
  font-family: "Futura PT", "Futura", "Trebuchet MS", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.4;
  color: #3e3b3b;
}



.yellow-box-section {
  padding: 100px 20px;
  position: relative;
  margin-bottom: 120px;
}

.background {
  position: absolute;
  top: 0;
  right: 0;

  width: 60%;
  height: 100%;

  background-color: #f7f28a;
  z-index: 0;
}

.yellow-box {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px;
  align-items: center;
  z-index: 1;
  padding: 0 40px;
}

.first-img {
  width: 600px;
}

.second-img {
  width: 450px;
}

.first-img img,
.second-img img {
  width: 100%;
  display: block;
}


.first-img {
  align-self: start;
}

.second-img {
  align-self: end;
}




.second-text-section {
  max-width: 700px;
  margin: 100px auto;
  text-align: center;
  padding: 0 18px;
  margin-bottom: 30px;
}


.main-text-2 {
  font-size: 27px;
  font-weight: bold;
  line-height: 1.6;
  text-align: justify;
  font-family: "Futura PT", "Futura", "Trebuchet MS", Arial, sans-serif;
}

.sub-text-2 {
  text-align: justify;
  font-size: 16px;
  font-family: "Futura PT", "Futura", "Trebuchet MS", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.4;
  color: #3e3b3b;
}





.youtube-section {
  padding: 100px 20px;
  display: flex;
  justify-content: center;
}


.video-wrapper {
  width: 100%;
  max-width: 600px;
}

.video-container {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.video-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.video-description {
  margin-top: 12px;
  font-size: 15px;
  color: #000000;
  text-align: left;
  font-weight: bold;
  font-family: "Futura PT", "Futura", "Trebuchet MS", Arial, sans-serif;
}


.third-text-section {
  max-width: 700px;
  margin: 100px auto;
  text-align: center;
  padding: 0 20px;
  margin-bottom: 30px;
  margin-top: auto;
}


.main-text-3 {
  font-size: 27px;
  font-weight: bold;
  line-height: 1.5;
  text-align: justify;
  font-family: "Futura PT", "Futura", "Trebuchet MS", Arial, sans-serif;
}

.sub-text-3 {
  text-align: justify;
  font-size: 16px;
  font-family: "Futura PT", "Futura", "Trebuchet MS", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.4;
  color: #3e3b3b;
  margin-bottom: 120px;
}


.green-box-section {
  position: relative;
  padding: 120px 0;
}

.green-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 60%;
  height: 100%;
  background: #b6ffc0;
  z-index: 0;
}


.green-img-grid {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 40px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px;
}

.img-big {
  grid-column: 2;
  grid-row: 1 / span 2;
  width: 100%;
  transform: translateX(60px);
  margin-top: 60px;
}




.fourth-text-section {
  max-width: 700px;
  margin: 100px auto;
  text-align: center;
  padding: 0 20px;
  margin-bottom: 30px;
  margin-top: auto;
}


.main-text-4 {
  font-size: 27px;
  font-weight: bold;
  line-height: 1.5;
  text-align: justify;
  font-family: "Futura PT", "Futura", "Trebuchet MS", Arial, sans-serif;
  margin-top: 100px;
}

.sub-text-4 {
  text-align: justify;
  font-size: 16px;
  font-family: "Futura PT", "Futura", "Trebuchet MS", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.4;
  color: #3e3b3b;
}


.large-image {
  width: 100%;
  max-width: 1100px;
  display: block;
  margin: auto;
  margin-top: 150px;
}




.fifth-text-section {
  max-width: 700px;
  margin: 100px auto;
  text-align: center;
  padding: 0 20px;
  margin-bottom: 30px;
  margin-top: auto;
}


.main-text-5 {
  font-size: 27px;
  font-weight: bold;
  line-height: 1.5;
  text-align: justify;
  font-family: "Futura PT", "Futura", "Trebuchet MS", Arial, sans-serif;
  margin-top: 100px;
}

.sub-text-5 {
  text-align: justify;
  font-size: 16px;
  font-family: "Futura PT", "Futura", "Trebuchet MS", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.4;
  color: #3e3b3b;
}





.purple-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--purple-color);
  gap: 180px;
  padding: 120px;
  max-width: 800px;
  max-height: 800px;
  margin: auto;
  margin-top: 150px;
}
 

.first-image {
  width: 400px;
  margin: 20px 0;
}

.second-image {
  width: 600px;
  margin: 20px 0;
}


